* {
    box-sizing: border-box; /* Tous les éléments calculent leur taille avec bordures et marges incluses */
}

html, body {
    height: 100%;
    margin: 0; /* Supprime les marges par défaut */
}

body {
    /* background-image: url("paysage-nocturne-magique-avec-des-lumieres-scintillantes.jpg"); */
    background: #09227d;
    background: radial-gradient(circle at center, #9154ca 0%, #410a61 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;  /* Police de texte*/
    display: flex;
    flex-direction: column; /* Organisation en colonne */
}

/*header*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(2, 5, 106, 0.8);
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 10px 3px 9px black;
}

.accueil {
    display: flex;
    gap: 15px;
    color: white;
    font-weight: bold;
    justify-content: flex-start;
    padding-left: 10px;
}

.accueil h1 {
    font-size: 1.3rem;
    padding-top: 0px;
}

.menu {
    display: flex;
    gap: 5px;
    font-size: 1.3rem;
    padding-right: 10px;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* border-radius: 10px; */
    transition: 0.3s;
}

.menu-item:hover {
    background-color: #00bfff;
    box-shadow:
        0 0 5px #0ff,
        0 0 15px #0ff,
        0 0 30px #0ff;
}

#toggle-style {
  padding: 0;
  border: none;
  background: none;
  transition: 0.3s;
}

#toggle-style:hover {
  transform: rotate(180deg) scale(1.2);
}

/* Contenu principal */

main {
    flex: 1;
    padding-bottom: 30px;
}

.lunesensemble {
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    justify-content: center;
    margin: auto;
    width: 90%;
    padding-top: 130px;
}
/*Dimension de nos lunes */
.lunes {
    width: clamp(300px, 20vw, 700px);
    height: clamp(350px, 30vh, 500px);
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;  
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    animation: shadows 1.5s infinite;
    gap: 20px;     
}
/*Dimension de nos images de lunes*/
.lunes img {
    width: 40%;
    aspect-ratio: auto;
    position: absolute;
    top: 75px;
    right: 6px;
}
/* Style de notre texte sur nos lunes */
.lunes p {
    position: absolute;
    bottom: 7px;
    left: 7px;   
    color: white;
    font-family: "Polaris Space Font";
    font-size: 1.2rem;
    text-shadow: -1px -1px 0 black,
                  1px -1px 0 black,
                 -1px  1px 0 black,
                  1px  1px 0 black;
}

.lunes h2 {
    /* position: absolute; */
    margin-bottom: 300px;
    color: white;
    font-family: "Polaris Space Font";
    font-size: 3rem;
}
/* Style de nos lunes */
#carreGanymede {
    background: linear-gradient(to bottom, rgba(118, 110, 105, 0.8), rgba(220, 206, 196, 0.8));
    box-shadow: 0px 0px 20px 10px rgba(118, 110, 105, 0.5);
}

#carreTitan {
    background: linear-gradient(to bottom, rgba(30, 200, 67, 0.8), rgba(15, 98, 33, 0.8));
    box-shadow: 0px 0px 20px 10px rgba(30, 200, 67, 0.5);
}

#carreCalisto {
    background: linear-gradient(to bottom, rgba(131, 141, 161, 0.8), rgba(48, 51, 59, 0.8));
    box-shadow: 0px 0px 20px 10px rgba(131, 141, 161, 0.5);
}

#carreIo {
    background: linear-gradient(to bottom, rgba(205, 167, 16, 0.8), rgba(103, 84, 8, 0.8));
    box-shadow: 0px 0px 20px 10px rgba(205, 167, 16, 0.5);
}

#carreLune {
    background: linear-gradient(to bottom, rgba(180, 157, 157, 0.8), rgba(78, 68, 68, 0.8));
    box-shadow: 0px 0px 20px 10px rgba(180, 157, 157, 0.5);
}

#carreEurope {
    background: linear-gradient(to bottom, rgba(117, 121, 112, 0.8), rgba(215, 223, 206, 0.8));
    box-shadow: 0px 0px 20px 10px rgba(117, 121, 112, 0.5);
}

#carreEncelade {
    background: linear-gradient(to bottom, rgba(136, 136, 136, 0.8), rgba(34, 34, 34, 0.8));
    box-shadow: 0px 0px 20px 10px rgba(136, 136, 136, 0.5);
}

#carreTriton {
    background: linear-gradient(to bottom, rgba(117, 121, 121, 0.8), rgba(216, 222, 223, 0.8));
    box-shadow: 0px 0px 20px 10px rgba(117, 121, 121, 0.5);
}


/*footer*/

/*Style de notre bas de page*/
footer {
    background: #090c52;
    height: 50px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    color: white;
}

.logoinsta {
    justify-content: space-between;

}

.logoinsta img {
    width: 30px; 
    height: 30px;

}


@media (max-width: 700px) {

    .navbar {
        flex-direction: column;
        align-items: center; 
    }

    .accueil {
            flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .lunesensemble {
        margin-top: 130px;
        flex-direction: column;
        align-items: center;
        
    }

    .lunes p {
        font-size: 1.1rem;
    }

}



