* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    /* background-image: url("paysage-nocturne-magique-avec-des-lumieres-scintillantes.jpg"); */
    background: #09227d;
    background: linear-gradient(30deg, rgba(9, 34, 125, 1) 0%, rgba(94, 55, 145, 1) 50%, rgba(167, 128, 224, 1) 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/*header*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #02056a;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 10px 3px 9px black;
}

.accueil {
    display: flex;
    gap: 15px;
    color: white;
    font-weight: bold;
    justify-content: flex-start;
    padding-left: 10px;
}

.accueil h1 {
    font-size: 1.3rem;
    padding-top: 0px;
}

.menu {
    display: flex;
    gap: 5px;
    font-size: 1.3rem;
    padding-right: 10px;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* border-radius: 10px; */
    transition: 0.3s;
}

.menu-item:hover {
    background-color: #00bfff;
    box-shadow:
        0 0 5px #0ff,
        0 0 15px #0ff,
        0 0 30px #0ff;
}

#toggle-style {
  padding: 0;
  border: none;
  background: none;
  transition: 0.3s;
}

#toggle-style:hover {
  transform: scale(1.5);
}

/* Page principale */

main {
    flex: 1;
    padding-bottom: 30px;
}

.planetesensemble {
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    justify-content: center;
    margin: auto;
    width: 90%;
    padding-top: 130px;
}

.planetes {
    border-style: solid;
    border-color: black;
    width: clamp(300px, 20vw, 700px);
    height: clamp(400px, 33vh, 500px);
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;  
    border-radius: 15px;
    border-width: thick;
    background-color: #303366;
    position: relative;
    overflow: hidden;
    animation: shadows 1.5s infinite;
    gap: 20px;     
    border-style : solid;
}

.planetes img {
    width: 40%;
    aspect-ratio: auto;
    position: absolute;
    top: 75px;
    right: 6px;
}


.planetes p {
    position: absolute;
    bottom: 7px;
    left: 7px;   
    color: white;
    font-family: "Polaris Space Font";
    font-size: 1.2rem;
    text-shadow: -1px -1px 0 black,
                  1px -1px 0 black,
                 -1px  1px 0 black,
                  1px  1px 0 black;
}

.planetes h2 {
    margin-bottom: 300px;
    color: white;
    font-family: "Polaris Space Font";
    font-size: 3rem;
}


/* Page principale */

#carreMercure{
    background: linear-gradient(to bottom, #B9723F, #c94f04);
    box-shadow: 0px 0px 20px 10px #B9723F;
}

#carreVenus{
    background: linear-gradient(to bottom, #DE9542, #785124);
    box-shadow: 0px 0px 20px 10px #DE9542;
}

#carreTerre{
    background: linear-gradient(to bottom, #3E70DB, #213C75);
    box-shadow: 0px 0px 20px 10px #3E70DB;
    
}

#carreMars{
    background: linear-gradient(to bottom, #F96F0C, #934107);
    box-shadow: 0px 0px 20px 10px #F96F0C;
}

#carreJupiter{
    background: linear-gradient(to bottom, #B49D9D, #4E4444);
    box-shadow: 0px 0px 20px 10px #B49D9D;
}

#carreSaturne{
    background: linear-gradient(to bottom, #D7DFCE, #757970);
    box-shadow: 0px 0px 20px 10px #D7DFCE;
}

#carreSaturne img{
    width: 70%;
    aspect-ratio: auto;
}

#carreUranus{
    background: linear-gradient(to bottom, #10E8E8, #0B4E78);
    box-shadow: 0px 0px 20px 10px #10E8E8;
}

#carreNeptune{
    background: linear-gradient(to bottom, #4DDEFF, #082C63);
    box-shadow: 0px 0px 20px 10px #4DDEFF;
}

/*footer*/

footer {
    background: #090c52;
    height: 50px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


@media (max-width: 700px) {

    .navbar {
        flex-direction: column;
        align-items: center; 
    }

    .accueil {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .accueil img {
        height: 50px;
        width: 50px;
    }

    .planetesensemble {
        margin-top: 130px;
        align-items: center;
        
    }

    .planetes p {
        font-size: 1rem;
    }

}
