* {
    box-sizing: border-box; /* Tous les éléments calculent leur taille avec bordures et marges incluses */
}

html, body {
    height: 100%;
    margin: 0; /* Supprime les marges par défaut */
}

body {
    background: linear-gradient(30deg, rgba(9, 34, 125, 1) 0%, rgba(94, 55, 145, 1) 50%, rgba(167, 128, 224, 1) 100%); 
    background-attachment: fixed; 
    font-family: Arial, sans-serif; /* Police de texte*/
    display: flex;
    flex-direction: column; /* Organisation en colonne */
}


.navbar {
    position: fixed; 
    top: 0;
    left: 0;
    background-color: #02056a; 
    display: flex;
    justify-content: space-between; 
    width: 100%;
    padding: 15px 0;
    box-shadow: 10px 3px 9px black;
}

.accueil {
    display: flex;
    gap: 15px; 
    color: white;
    font-weight: bold;
    padding-left: 10px;
}

.menu {
    display: flex;
    gap: 5px; 
    font-size: 1.3rem;
    padding-right: 10px;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s; 
}

.menu-item:hover {
    background-color: #00bfff; 
    box-shadow: 0 0 30px #0ff; 
}

#toggle-style {
  border: none;
  background: none;
}

#toggle-style:hover {
  transform: scale(1.5); /* Bouton qui grossit */
}

/* MAIN */
main {
    flex: 1;
    padding-top: 100px; /* Décale sous la navbar */
}

.carre-principale {
    position: relative;
    margin: auto;
    border-radius: 20px; /* Coins arrondis */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carre-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carre-principale h2 {
    color: white;
    text-decoration: underline; /* Titre souligné */
}

h3 {
    color: white;
    text-align: center; /* Sous-titre centré */
}

/* Style de la vidéo */
.video-section {
  background: linear-gradient(to bottom right, purple, darkblue); 
  border-radius: 15px;
  opacity: 0.8; /* Transparent */
  padding: 20px;
}

.video-section video {
  width: 100%; /* Vidéo qui prend toute la largeur */
  border-radius: 10px;
}

/* Animation des ombrages*/
@keyframes shadows {
  0% { box-shadow: 0 0 10px #48abe0; }
  50% { box-shadow: 0 0 20px blueviolet; }
  100% { box-shadow: 0 0 10px #48abe0; }

}

/* Style des carrés secondaires */
.carre-secondaire {
    border-radius: 15px;
    background-color: #303366;
    box-shadow: 0px 0px 20px 10px #48abe0; 
    animation: shadows 1.5s infinite; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carre-secondaires {
    display: flex;
    flex-wrap: wrap; /* S’adapte en plusieurs lignes */
    gap: 20px;
    justify-content: center;
}

/* Style du formulaire */
.formulaire {
  background-color: #090c52; 
  border-radius: 15px;
  box-shadow: 0px 0px 20px 10px #10567A; 
  color: white;
  margin: 40px auto;
  padding: 20px;
}

.formulaire input, .formulaire textarea, .formulaire select {
  border-radius: 8px; 
  width: 100%;
  padding: 10px;
}

.formulaire button {
  background-color: #10567A; 
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.formulaire button:hover {
  background-color: #1e90ff; 
  box-shadow: 0 0 30px #0ff; 

/*Style de notre bas de page*/
footer {
    background: #090c52; 
    color: white;
    display: flex;
    justify-content: center; /* On le centre */
    gap: 5vw;
    padding: 1rem;
}

.logoinsta img {
    width: 30px; height: 30px; /* Taille du logo Instagram */
}



@media (max-width: 700px) {

    .navbar {
        flex-direction: column;
        align-items: center; 
    }

    .accueil {
            flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .accueil img {
        height: 50px;
        width: 50px;
    }

    .carre-principale {
        margin-top: 130px;
        flex-direction: column;
    }

    .carre-principale h2 {
        font-size: 1.2rem;
    }

    .carre-principale h3 {
        font-size: 0.9rem;
    }

    .carre-secondaires {
        padding: 5px 5px;
    }
}
